<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'includes/menu.html.twig' %}
        <div class="container">
            {% include 'includes/flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {{ render(controller(
            'App\\Controller\\MainController::_makeTweets', {max: 5}
        )) }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
